.location-bg{
    background: rgb(59,60,54);
    background: linear-gradient(153deg, rgba(59,60,54,1) 12%, rgba(52,52,52,1) 48%, rgba(22,22,29,1) 94%);
    background-repeat:no-repeat;
    background-size: cover;
}
.location-text{
    display: flex;
}