.min-height {
    min-height: 100vh;
    height: 100vh;
    // padding: 10px;
    // overflow-y: auto;
}
.text-red-650{
    font-family: "Poppins", sans-serif !important;
    color: #f2555a !important;
    text-align: right;
    white-space: nowrap;
    padding-right: 15px;
}
@media screen and (max-width: 768px) {
    
    .logoname{
        display:none;
    }
    .mx-auto-robotimg{
        display:none;
    }
    .page-responsiveness{
        padding: 0 !important;
    }
    Form{
        width:100%;
    }

    .align-left{
        text-align: left;
    }
    .input-length{
        width:95%;
        height: 38px;
    }

    .button-pro{
        margin-top: -120px;
        min-width: 200px;
        position: absolute;
    }

    .text-red-650{
        font-family: "Poppins", sans-serif !important;
        color: #f2555a !important;
    }

 }